{
    "wslBasePath":"${env:localappdata}\\shiftavenue\\wsl",
    "wslDistroPath":"distros",
    "wslName":"shiftavenue-ci",
    "wslRemoveExisting":1,
    "wslRootPwd":"Start123",
    "wslWorkUser":"Work",
    "wslWorkUserDefault":1,
    "wslWorkUserPwd":"Start123",
    "wslWorkUserSSHPubKey":"dummy",
    "wslMgmtUser":"ansible",
    "wslMgmtUserPwd":"Start123",
    "wslMgmtUserSSHPubKey":"5j43tz098t988jv98wh875hzgtiuh7843578trh...98uh= ansible",
    "wslSshServer":1,
    "wslSshServerPort":30122,
    "wslDistroName":"Ubuntu2204"
}