{
    "wslBasePath":"${env:localappdata}\\shiftavenue\\wsl",
    "wslDistroPath":"distros",
    "wslName":"shiftavenue-ci",
    "wslRemoveExisting":1,
    "wslRootPwd":"Start123",
    "wslDistroName":"Ubuntu2204"
}